.nav_style {
  display: none;
  @media (width > 760px) {
    position: fixed;
    background: #0d0a0ad9;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  div {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    height: 4rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;

    a {
      cursor: pointer;
      font-size: 1.3rem;
      margin: 0 1rem;
      &:hover {
        color: #dddcdc;
      }
    }
  }
}
/* Header Component Styles */
.header-custom {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -2rem;
  background-size: cover;
  height: 104dvh;
}

.container-custom {
  position: absolute;
  z-index: 800; /* o un número si no usás variables */
  top: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 81dvh;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.heading-saludo {
  font-size: 1.8rem;

  @media (min-width: 768px) {
    font-size: 3rem;
  }

  @media (min-width: 1024px) {
    font-size: 3.7rem;
  }
}

.heading-nombre {
  font-size: 9vw;

  @media (min-width: 768px) {
    font-size: 3rem;
  }

  @media (min-width: 1024px) {
    font-size: 3.7rem;
  }
}

.heading-profesion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-size: 8vw;

  @media (min-width: 768px) {
    font-size: 3rem;
  }

  @media (min-width: 1024px) {
    font-size: 3.7rem;
  }
}

.section-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  padding-top: 6rem;
  svg {
    height: 46px;
    width: auto;
  }
  @media (min-width: 768px) {
    padding-top: 2rem;
  }
}

.icono-red {
  border-radius: 9999px;
  transition: transform 0.2s;

  @media (min-width: 768px) {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.icono-svg {
  font-size: 3.5rem;
  padding: 0.75rem;
}

.section-flecha {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.25rem;
}
/* Projects Component Styles */

.contenedor-titulo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contenedor-proyectos {
  background-color: var(--blue-light-bg);
  box-shadow: var(--shadow-tech-desk);
  border-radius: 2.4rem;
  margin: 1rem 1.25rem 13rem 1.25rem;
  max-width: var(--max-width-container);

  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.contenedor-principal {
  position: relative;
  top: 5px;
}
.grid-projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 3rem;
  justify-content: center;
}
.item-proyecto {
  margin:0 auto;
  padding: 1rem;
  .imagen-proyecto {
    a img {
      padding:0 0.75rem;
      transition: all 75ms linear;
      height: 130px;
      width: 350px;
      max-width: 268px;
      margin:0 auto;
      @media (min-width: 768px) {
        cursor: pointer;
      }
    }
  }

  .estado-proyecto {
    color: #a1aceb;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .tecnologias-usadas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    width: auto;
    height: auto;
    p {
      border-radius: 5px;
      padding: 5px;
      cursor: not-allowed;
    }
  }

  .enlaces {
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    gap: 0.25rem;
  }
}
.section_tech {
  display: flex;
  justify-content: center;
  width: 100%;
}
.g-div-title-section > * {
  margin: 2rem 0;
  font-weight: bold;
  letter-spacing: 5px;
  @media (width >800px) {
    font-size: 3rem;
  }
}
.article_arraytech {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  justify-content: center;
  margin: auto;
  gap: 30px;
  padding:16px ;
  p {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
  }
  .p_padding{
    padding: 0.25rem;
  }
  section {
    display: flex;
    justify-content: center;
    flex-flow: column;
    border-radius: 0.75rem;
    .div_img-tech {
      display: flex;
      justify-content: center;
    }
  }
}
